body {
    background-color: aliceblue;
    width: 100%;
    margin: 0 auto;
}

header {
    width: 95%;
    margin: 2.5%;
}

section {
    /* width: 95%;
    margin: 0 auto; */
    background-color: white;
    width: 95%;
    margin: 2.5%;
    border: 1pt solid;
    border-color: lightgray;
}

td, th {
    border: 1pt solid;
}

table {
    margin: 20px;
    border: 2pt solid;
    border-collapse: collapse;
}

caption {
    font-size: large;
    font-weight: bold;
    caption-side: top;
    text-align: left;
  }

th{
    background-color: lightyellow;
}

td.GalaxyName {
    background-color: lavender;
}

/* tr:nth-child(even) {
    background-color: lightgrey;
} */

#myDiv {
    height: 600px;
}

#jfactor_plot {
    /* width: 100%; */
    overflow: auto;
}

#jfactor_ufd_plot_figure {
    /* width: 5000px; */
}

.plotly {
    height: 400px;
    width: 95%;
}

.plotly_background {
    border: 2pt solid;
    border-color: skyblue;
    width: 99%;
    overflow: auto;
}

.large_plotly_containor {
    width: 100%;
    overflow: auto;
}

